.header {
  border: 1px solid red;
  grid-area: h;
  display: flex;
  position: relative;
  
}

.logo {
  display: flex;
  flex-direction: column;
  margin: auto;
  
}

.logo img {
  margin:auto;
  width: 60px;
  padding-bottom: 10px;
}

.login {
position: absolute;
border: 1px solid red;

right:10px;
top:5px;
}